<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732981349958-lsat84e7fib57rpl2rl3qv96266oa09d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732981349958-lsat84e7fib57rpl2rl3qv96266oa09d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>732981349958-560nd31snecldi96hh8j37h5e1dbhb0c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSGJ7N1WwF7t3YZN7DmtcIoqE4xdJ2mNo</string>
	<key>GCM_SENDER_ID</key>
	<string>732981349958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erun.runner-ios</string>
	<key>PROJECT_ID</key>
	<string>erun-7892f</string>
	<key>STORAGE_BUCKET</key>
	<string>erun-7892f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732981349958:ios:45bf5c21309deff8ddc447</string>
	<key>DATABASE_URL</key>
	<string>https://erun-7892f.firebaseio.com</string>
</dict>
</plist>