<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732981349958-gkaivqlgkgvmas6ehbpeu779ulfmk60i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732981349958-gkaivqlgkgvmas6ehbpeu779ulfmk60i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>732981349958-v0tnm0pu55440u2irfp2hgto18stufs6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSGJ7N1WwF7t3YZN7DmtcIoqE4xdJ2mNo</string>
	<key>GCM_SENDER_ID</key>
	<string>732981349958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erun.erun-app</string>
	<key>PROJECT_ID</key>
	<string>erun-7892f</string>
	<key>STORAGE_BUCKET</key>
	<string>erun-7892f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732981349958:ios:8f85d9612f090b49</string>
	<key>DATABASE_URL</key>
	<string>https://erun-7892f.firebaseio.com</string>
</dict>
</plist>